{% extends "base.html" %}

{% block content %}
    <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
        <div class="cards">
            <div class="card">
                <div class="card_top">
                    <a href="#" class="card_image">
                      <img
                        src="{{ url_for('static', filename='images/RO_Mainline.jpg') }}"
                        alt="Rick Owens Ramones Mainline"
                      />
                    </a>
                  </div>
                  <div class="card_bottom">
                  <div class="card_price">10000</div>
                    <a href="#" class="card_title">
                      Rick Owens Ramones Mainline
                    </a>
                    <button class="card_add">В корзину</button>
                  </div>
            </div>
            <div class="card">
                <div class="card_top">
                    <a href="#" class="card_image">
                      <img
                        src="{{ url_for('static', filename='images/RO_Mainline.jpg') }}"
                        alt="Rick Owens Ramones Mainline"
                      />
                    </a>
                  </div>
                  <div class="card_bottom">
                  <div class="card_price">10000</div>
                    <a href="#" class="card_title">
                      Rick Owens Ramones Mainline
                    </a>
                    <button class="card_add">В корзину</button>
                  </div>
            </div>
            <div class="card">
                <div class="card_top">
                    <a href="#" class="card_image">
                      <img
                        src="{{ url_for('static', filename='images/RO_Mainline.jpg') }}"
                        alt="Rick Owens Ramones Mainline"
                      />
                    </a>
                  </div>
                  <div class="card_bottom">
                  <div class="card_price">10000</div>
                    <a href="#" class="card_title">
                      Rick Owens Ramones Mainline
                    </a>
                    <button class="card_add">В корзину</button>
                  </div>
            </div>
            <div class="card">
                <div class="card_top">
                    <a href="#" class="card_image">
                      <img
                        src="{{ url_for('static', filename='images/RO_Mainline.jpg') }}"
                        alt="Rick Owens Ramones Mainline"
                      />
                    </a>
                  </div>
                  <div class="card_bottom">
                  <div class="card_price">10000</div>
                    <a href="#" class="card_title">
                      Rick Owens Ramones Mainline
                    </a>
                    <button class="card_add">В корзину</button>
                  </div>
            </div>
            <div class="card">
                <div class="card_top">
                    <a href="#" class="card_image">
                      <img
                        src="{{ url_for('static', filename='images/RO_Mainline.jpg') }}"
                        alt="Rick Owens Ramones Mainline"
                      />
                    </a>
                  </div>
                  <div class="card_bottom">
                  <div class="card_price">10000</div>
                    <a href="#" class="card_title">
                      Rick Owens Ramones Mainline
                    </a>
                    <button class="card_add">В корзину</button>
                  </div>
            </div>
            <div class="card">
                <div class="card_top">
                    <a href="#" class="card_image">
                      <img
                        src="{{ url_for('static', filename='images/RO_Mainline.jpg') }}"
                        alt="Rick Owens Ramones Mainline"
                      />
                    </a>
                  </div>
                  <div class="card_bottom">
                  <div class="card_price">10000</div>
                    <a href="#" class="card_title">
                      Rick Owens Ramones Mainline
                    </a>
                    <button class="card_add">В корзину</button>
                  </div>
            </div>
            <div class="card">
                <div class="card_top">
                    <a href="#" class="card_image">
                      <img
                        src="{{ url_for('static', filename='images/RO_Mainline.jpg') }}"
                        alt="Rick Owens Ramones Mainline"
                      />
                    </a>
                  </div>
                  <div class="card_bottom">
                  <div class="card_price">10000</div>
                    <a href="#" class="card_title">
                      Rick Owens Ramones Mainline
                    </a>
                    <button class="card_add">В корзину</button>
                  </div>
            </div>
            <div class="card">
                <div class="card_top">
                    <a href="#" class="card_image">
                      <img
                        src="{{ url_for('static', filename='images/RO_Mainline.jpg') }}"
                        alt="Rick Owens Ramones Mainline"
                      />
                    </a>
                  </div>
                  <div class="card_bottom">
                  <div class="card_price">10000</div>
                    <a href="#" class="card_title">
                      Rick Owens Ramones Mainline
                    </a>
                    <button class="card_add">В корзину</button>
                  </div>
            </div>
          </div>
    </body>
{% endblock %}